body {
    background-color: #e0e0e0;
}
i {
    color: #009688;
}
 .cut {
    color: #757575;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
}
.cat {
    color: #757575;
    margin-left: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
}
.container {
    display: flex;
}
.sidebar {
    width: 33%;
    margin-top: 5px;
    margin-left: 7px;
    border: 1px solid #c7c7c7;
    box-shadow: #f3eff0;
    background-color: #ffffff;
}
.main {
    width: 67%;
    margin-top: 5px;
    margin-left: 7px;
    margin-right: 7px; 
     /* border: 1px solid #c7c7c7; */
    box-shadow: #f3eff0; 
    padding-left:  10px;
}
.mat {
    padding: 1em;
}
.omg {
        color: #757575;
        margin-left: .5em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: .8em;
}
.ref {
    color: #666666;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4em;
    letter-spacing: 1px;
}
.reg {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 25px;
    margin-bottom: 17px;
     background-color: #ffffff;
}
.put {
    background-color: #009688;
    color: white;
    border-radius: 2px;
    padding: 2px 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pat {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1em;
}
.eat {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9em;
    line-height: 1.5em;
}
.arm {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
     background-color: #ffffff;
}
.count {
    background-color: #009688;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding: 5px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 0px;
    margin-left: 0px;
}
.count i {
    color: white;
}

@media (max-width: 930px) {
    .container {
        display: block;
    }
    .main {
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
}
.bat {
    text-align: center;
    color: white;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 100%;
}
.keg {
    color: white;
    background-color: #009688;
    width: 90%;
    border-radius: 10px;
}
.call {
    color: white;
    background-color: #009688;
    width: 70%;
    border-radius: 10px; 
}
.rise {
    color: white;
    background-color: #009688;
    width: 50%;
    border-radius: 10px; 
}
.up {
    color: white;
    background-color: #009688;
    width: 30%;
    border-radius: 10px; 
}

 
